{% extends "base.html" %}

{% load static %}
{% block body %}
    <h1 class="header-title">{{ title }}</h1>

    {% if user_list %}

        {% if is_paginated %}
            <div class="pagination">
                <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

                {% if page_obj.has_previous %}
                    <span><a href="?page={{ page_obj.previous_page_number }}">Anterior</a></span>
                {% else %}
                    <span><a href="">Anterior</a></span>
                {% endif %}

                {% if page_obj.has_next %}
                    <span><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></span>
                {% else %}
                    <span><a href="">Siguiente</a></span>
                {% endif %}
            </div>
        {% endif %}

        {% for user in user_list %}
            <article class="article">
                <div class="url">
                    <img src="{% static 'img/photo.png' %}" alt="{{ user.username }}" title="{{ user.username }}"
                         width="200px">
                </div>
                <div class="info">
                    <a href="{% url 'user-post-list' user.username %}">
                        <div class="title">{{user.username}}</div>
                    </a>

                    <div class="author">
                        <div class="name">{{user.first_name}} {{user.last_name}},
                            {{user.date_joined}}
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}

    {% else %}
        <div class="empty">No hay ningún post</div>
    {% endif %}

{% endblock %}
