{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/variables.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/list.css">
    <link rel="stylesheet" href="/static/css/detail.css">
</head>
<body>
    <header class="web-header">
        <h1 class="web-title">WordPlease</h1>
        <nav class="nav-menu">
            <a class="menu-item" href="{% url 'home' %}">Home</a>
        </nav>
    </header>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer class="web-footer">
        <div class="footer">
            WordPlease 2018 &copy; All rights reserved.
        </div>
    </footer>
</body>
</html>