{% extends "base.html" %}

{% block title %} {{ post.title }} {% endblock %}

{% load static %}
{% block body %}
    <section class="detail">
        <section class="the-article">
            <h1 class="header-title">{{ post.title }}</h1>

            {% if post.url.url != '' %}
                <figure class="image-article">
                    <img class="image-header" src="{{ post.url.url }}" alt="{{ post.title }}" title="{{ post.title }}">
                    <figcaption class="image-description">
                        <cite>{{ post.title }}</cite>
                    </figcaption>
                </figure>
            {% endif %}

            <div class="author-detail">
                <img class="place-holder" src="{% static 'img/photo.png' %}" alt="{{post.owner.username}}"
                     title="{{ post.owner.username }}">
                <div class="name-detail">{{post.owner.first_name}} {{post.owner.last_name}}
                    {% if post.published_on != None %}
                        ,
                        {{post.published_on}}
                    {% endif %}
                </div>
            </div>

            <h2>{{post.intro}}</h2>
            <p>{{post.body}}</p>
        </section>
    </section>
{% endblock %}
