*{
 margin: 0;
 padding: 0;
}

body {
    font-family: var(--main-font-family);
}

h1 {
    font-family: var(--title-font-family);
}

a {
    color: var(--links-color);
    text-decoration: none;
}

a:hover {
    color: var(--links-hover-color);
    transition: all 0.25s;
}


img,
video,
embed,
iframe,
object {
    max-width: 100%;
}


.web-header{
    position: fixed;
    width: 100%;
    height: var(--header-height);
    box-sizing: border-box;
    z-index: 999;
    top: 0;
    box-shadow: 0 0 5px var(--shadow-color);
    background: var(--header-backcolor);
    display: flex;
    flex-direction: row;
    text-align: center;
}

.web-title {
    padding: 8px 10px;
    color: var(--main-text-color);
    text-shadow: 0 1px 1px var(--shadow-color);
}


.nav-menu {
    margin-left: 40px;
    margin-top: 22px;
}

.menu-item {
    padding-right: 15px;
}

.container {
    margin: 0 auto;
    padding: 15px;
    background: var(--container-backcolor);
    max-width: var(--extra-large-device-width);
    padding-top: var(--header-height);
}

.header-title {
    padding-top: 10px;
    padding-bottom: 10px;
}

.empty,
.error,
.loading {
    text-align: center;
    padding-top: 25px;
}

.web-footer {
    text-align: center;
    font-size: var(--font-size-small);
    padding: 10px;
    margin: 30px 0 0 0;
    background: black;
    color: white;
}