:root {
    /* Colors */
    --header-backcolor: rgb(225, 225, 225);
    --container-backcolor: rgb(235, 235, 235);
    --main-text-color: #594f4f;
    --shadow-color: rgb(75, 75, 75);

    --links-color: #547980;
    --links-hover-color: #45ada8;

    /* Sizes */
    --header-height: 55px;
    --large-device-width: 750px;
    --extra-large-device-width: 900px;

    /* Fonts */
    --main-font-family: "Karla", sans-serif;
    --title-font-family: "Karla", serif;

    /* Font sizes */
    --font-size-base: 18px;
    --font-size-small: 12px;
    --font-size-h1: 33px;
    --font-size-h4: 24px;
}